@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scroll-behavior: smooth;  
}

body {
  margin: 0px;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.container {
  margin-right: auto;
  margin-left:  auto;
  max-width: 800px;
  padding-right: 10px;
  padding-left:  10px;
}

.center {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 375px) {
  .center {
    width: 20rem;
  }
}

@media screen and (max-width: 374px) {
  .center {
    width: 17rem;
  }
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
  font-family: poppins, sans-serif;
  margin: 0px;
  
}

p {
  margin-top: 2px;
  font-family: 'Open Sans', sans-serif;
  
}

a {
  font-weight: bold;
  font-family: inherit;
  color: #617bfd;
  text-decoration: none;
  
}

a:hover {
  color: #3d5cf9;
  
}

table {
  font-family: roboto, sans-serif;
  border-collapse: separate;
  border-spacing: 0 5px;
  width: 100%;
  
}

td, 
.card {
  padding: 1.25rem;
  border-radius: 8px;
  transition: transform .25s;
  
}

td:hover,
.card:hover {
  transform: scale(1.02);
}

td h1,
td h2,
td h3,
td h4,
td h5,
.card h1,
.card h2,
.card h3,
.card h4,
.card h5 {
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
  
}

td h1:after,
td h2:after,
td h3:after,
td h4:after,
td h5:after,
.card h1:after,
.card h2:after,
.card h3:after,
.card h4:after,
.card h5:after {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0%;
  display: block;
  content: '';
  transition: 0.3s;
  
}

td h1:hover:after,
td h2:hover:after,
td h3:hover:after,
td h4:hover:after,
td h5:hover:after,
.card h1:hover:after,
.card h2:hover:after,
.card h3:hover:after,
.card h4:hover:after,
.card h5:hover:after {
  left: 0;
  width: 100%;
  
}

td h1 a,
td h2 a,
td h3 a,
td h4 a,
td h5 a,
.card h1 a,
.card h2 a,
.card h3 a,
.card h4 a,
.card h5 a {
  color: inherit!important;
  font-weight: inherit!important;
  
}

td p,
.card p {
  margin-top: 8px;
}

.mb-0 {
  margin-bottom: 0px;
}

.grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
}

@media screen and (max-width: 900px) {
  .grid {
    grid-gap: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .grid {
    grid-gap: 3rem;
  }
}

@media (min-width: 600px) {
  .grid { 
    grid-template-columns: repeat(2, 1fr);  
  }
}

@media (min-width: 900px) {
  .grid { 
    grid-template-columns: repeat(3, 1fr); 
  }
}

.grid .item .card {
  height: 100%;
}

.chevron {
  transform: scale(2);
  transition: transform .25s, color .25s;
}

.chevron:hover {
  transform: scale(2.15);
}

@keyframes chevronBob {
  to {
    top: 40vh;
  }
}

.chevron-wrapper {
  position: absolute; 
  top: 35vh; 
  left: 50%;
  animation: chevronBob infinite;
}

.footer {
  width: 100%;
  padding: 1.25rem;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.right {
  float: right;
}

.left {
  float: left;
}

.flex2 {
  display: flex;
  flex-direction: row;
}

.flex2 .right {
  margin-right: 10px;
  flex-grow: 1;
  flex-basis: 0;
}

.flex2 .left {
  margin-left: 10px;
  flex-grow: 1;
  flex-basis: 0;
}

@media screen and (max-width: 600px) {
  .flex2 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .flex2 .right p,
  .flex2 .left p,
  .flex2 .right h1,
  .flex2 .right h2,
  .flex2 .right h3,
  .flex2 .right h4,
  .flex2 .right h5,
  .flex2 .left h1,
  .flex2 .left h2,
  .flex2 .left h3,
  .flex2 .left h4,
  .flex2 .left h5 {
    text-align: left;
  }

  .flex2 .right {
    float: none;
    margin-right: 0px;
  }

  .flex2 .left {
    float: none;
    margin-left: 0px;
  }
}

::-webkit-scrollbar {
  width: 10px;
  display: none;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #0000001c;
  border-radius: 10px;
}