@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scroll-behavior: smooth;  
}

body {
  margin: 0px;
  overflow: overlay;
  overflow-x: hidden;
  transition: all .5s;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.container {
  margin-right: auto;
  margin-left:  auto;
  max-width: 800px;
  padding-right: 10px;
  padding-left:  10px;
}

.center {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 375px) {
  .center {
    width: 20rem;
  }
}

@media screen and (max-width: 374px) {
  .center {
    width: 17rem;
  }
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  font-family: poppins, sans-serif;
  margin: 0px;
  
}

p {
  margin-top: 2px;
  font-family: 'Open Sans', sans-serif;
  
}

a {
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  color: #617bfd;
  text-decoration: none;
  
}

a:hover {
  color: #3d5cf9;
  
}

.mb-0 {
  margin-bottom: 0px;
}

.grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
}

.grid .item {
  margin: 5px;
}

@media screen and (max-width: 900px) {
  .grid {
    grid-gap: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .grid {
    grid-gap: 3rem;
  }
}

@media (min-width: 600px) {
  .grid { 
    grid-template-columns: repeat(2, 1fr);  
  }
}

@media (min-width: 900px) {
  .grid { 
    grid-template-columns: repeat(3, 1fr); 
  }
}

.grid .item .card {
  height: 100%;
}

.chevron {
  transform: scale(2);
  transition: transform .25s, color .25s;
}

.chevron:hover {
  transform: scale(2.15);
}

@keyframes chevronBob {
  to {
    top: 40vh;
  }
}

.chevron-wrapper {
  position: absolute; 
  top: 35vh; 
  left: 50%;
  animation: chevronBob infinite;
}

.footer {
  width: 100%;
  padding: 1.25rem;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.right {
  float: right;
}

.left {
  float: left;
}

.flex2 {
  display: flex;
  flex-direction: row;
}

.flex2 .right {
  margin-right: 10px;
  flex-grow: 1;
  flex-basis: 0;
}

.flex2 .left {
  margin-left: 10px;
  flex-grow: 1;
  flex-basis: 0;
}

.button {
  padding: .75rem;
  border: #ff8885 2px solid;
  font-family: poppins, sans-serif;
  font-weight: bold;
  color: #ff8885;
  border-radius: 10px;
  transition: background .25s ease-in-out, color .25s ease-in-out, border-radius .25s ease-in-out, opacity .25s ease-in-out;
}

.button:hover {
  background: #ff8885;
  color: white;
  border-radius: 0px;
}

@media screen and (max-width: 600px) {
  .flex2 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .flex2 .right p,
  .flex2 .left p,
  .flex2 .right h1,
  .flex2 .right h2,
  .flex2 .right h3,
  .flex2 .right h4,
  .flex2 .right h5,
  .flex2 .left h1,
  .flex2 .left h2,
  .flex2 .left h3,
  .flex2 .left h4,
  .flex2 .left h5 {
    text-align: left;
  }

  .flex2 .right {
    float: none;
    margin-right: 0px;
    margin-top: 10px;
  }

  .flex2 .left {
    float: none;
    margin-left: 0px;
    margin-top: 10px;
  }

  .button {
    background: #ff8885;
    color: white;
    display: block;
  }

  .button:hover {
    background: #ff706d;
    color: white;
  }  
}

::-webkit-scrollbar {
  width: 10px;
  background: transparent;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #0000001c;
  border-radius: 10px;
  transition: background .25s;
}

::-webkit-scrollbar-thumb:hover {
  background: #00000025;
}

#blobs {
  position: absolute; 
  bottom: -15px; 
  z-index: -9999;
  /* filter: drop-shadow(0px 0px 2px rgb(0, 0, 0, .2)); */
}

hr {
  border: none;
  margin-top: 50px;
  margin-bottom: 50px;
}

.project-image {
  padding: 180px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  /* transform: scale(1); */
  transition: border-radius .25s, transform .25s, box-shadow .25s;
}

.project-image:hover {
  border-radius: 0px;
  /* transform: scale(1.008); */
  /* box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.199); */
}

#toTopButton {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 24px;
  text-align: center;
  z-index: 999999;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  background: #ffffffad;
  box-shadow: 0 0 15px 0px #00000028;
  transition: opacity .75s;
}

.navbar-content {
  position: relative;
  padding: 1.25rem;
  bottom: 10px;
}

.navbar-title {
  position: relative;
  margin: 0;
  float: left;
}

.navbar-links {
  position: relative;
  float: right;
  top: 4px;
}

.navbar-link {
  position: relative;
  display: inline;
}

.navbar ul {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: inherit;
  overflow: hidden;
}

.navbar li a {
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  color: #3f414c;
  transition: color .25s, font-weight .25s;
  padding-left: 10px;
}

.navbar li a:hover {
  color: #26272c;
  font-weight: bold;
}

.card {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  transform: translateY(0px);
  transition: transform .25s;
}

.card:hover {
  transform: translateY(-10px);
}

.card-body {
  padding: 1rem;
}

.card-footer {
  background-color: rgba(255, 255, 255, 0.65);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  padding: 1.5rem 1.25rem;
}

.navbarlink {
  color: black!important;
  font-size: 4rem;
  transition: background-color .25s, transform .25s, padding .25s;
}

/* .navbarlink:hover::after {
  color: black;
  background-color: white;
  padding: .5rem 1.5rem;
} */

.navbarlink {
  line-height: 1em;
  position: relative;
  transition: all .25s;
}
.navbarlink:hover:after {
  width: calc(100% + 20px);
}
.navbarlink::after {
  border-bottom: 0.425em solid white;
  content: "";
  left: -10px;
  margin-top: calc(0.125em / 2 * -1);
  position: absolute;
  right: -10px;
  top: 41%;
  z-index: -1;
  transition: all .25s;
  -webkit-transition: all .25s;
  width: 0%;
}

#navigation {
  position: fixed; 
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  width: 100vw; 
  height: 100vh; 
  background-color: #FFC9FC; 
  z-index: 9999999;
  transition: background-color .25s, border-radius .25s;
}

#navbar {
  position: fixed; 
  top: 10px; 
  right: 10px; 
  background-color: #ffc9fc; 
  border-radius: 50px; 
  padding: 0.75rem 1.1rem; 
  text-align: center;
  font-size: 1.2rem;
  z-index: 9999999999;
  transform: scale(1);
  transition: background-color .25s, opacity .75s, transform .25s, top .25s, left, .25s;
}

#navbar:hover {
  opacity: 75%;
}

#navbarbars {
  color: #c587c2;
  transition: color .25s;
}

@keyframes slideInTopRight2 {
  0% {
		-webkit-transform: translate3d(100%, -100%, 0);
		transform: translate3d(100%, -100%, 0);
    border-radius: 500px;
	}
	to {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
    border-radius: 0px;
	}
}

@keyframes slideOutTopRight2 {
	0% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
    border-radius: 0px;
	}
	to {
		-webkit-transform: translate3d(100%, -100%, 0);
		transform: translate3d(100%, -100%, 0);
    border-radius: 500px;
	}
}

@keyframes slideInTop2 {
  0% {
		-webkit-transform: translate3d(0%, -100%, 0);
		transform: translate3d(0%, -100%, 0);
    border-radius: 500px;
	}
	to {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
    border-radius: 0px;
	}
}

@keyframes slideOutTop2 {
  0% {
    -webkit-transform: translateZ(0);
		transform: translateZ(0);
    border-radius: 0px;
	}
	to {
		-webkit-transform: translate3d(0%, -100%, 0);
		transform: translate3d(0%, -100%, 0);
    border-radius: 500px;    
	}
}

.slideInTopRight {
  animation: slideInTopRight2;
  animation-duration: 5s;
}

.slideOutTopRight {
  animation: slideOutTopRight2;
}

.slideInTop {
  animation: slideInTop2;
}

.slideOutTop {
  animation: slideOutTop2;
}

#mouseCircle {
  padding: 10px;
  border-radius: 50%;
  background-color: black;
  width: 0%;
  z-index: 9999;
}